body{
margin:0;
font-family:Georgia;
background:#fff8ee;
color:#3b2416;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#f4dfc5;
}

button{
padding:10px;
margin:5px;
cursor:pointer;
}

.page{
padding:40px;
}

.hidden{
display:none;
}